body { background-color: #efe4b0; }

@font-face { 
    font-family: Champignon; 
    src: url('font/Champignon.otf'); 
}
.font {
    font-family: Champignon, cursive; 
    font-weight: lighter; 
    color: aqua;
}

a {
    color: LinkText;
    padding: 1rem 2rem 2rem;
    text-align: center;
    font-size: 4rem;
    text-decoration: none;
}
a:visited { color: LinkText; }
a:hover { color: unset }

nav {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 10rem; 
    text-align: center;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: grab;
}
